body{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}


header{
    width: 100vw;
    height: 30vh;
    z-index: 10;
    position: fixed;
    top: 0px;
}


main{
    width: 90vw;
    margin-top: 30vh;
    z-index: 1;
}
main ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-block: 20px;
    list-style: none;
}
main ul li{
    width: 100%;
    height: auto;
    flex-shrink: 0;
}


footer{
    display: none;
}


.container_card_cooker{
    width: 285px;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}


.top_card{
    width: 100%;
    height: 50px;
    margin-block: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top_card_intel{
    display: flex;
    width: 70%;
    height: 100%;
    gap: 8px;
}
.top_card_subscribe{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: end;
}
.top_card_subscribe img{
    align-self: center;
}
.name_day_intel{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.name_day_intel strong{
    font-size: 16px;
    word-spacing: 2px;
    font-weight: 600;
}
.name_day_intel p{
    width: auto;
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
    margin: 0;
    position: absolute;
    top: -5px;
}
.name_user{
margin-top: 7px;
}
.day_post{
    position: relative;
}

.image_post{
    width: 100%;
    height: auto;
    position: relative;
}
.image_post > img{
    width: 100%;
    height: auto;
    border-radius: 6px;
}
.image_post_option{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 243px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 54.7%;
}
.image_post_option img{
    width: auto;
    height: 75%;
}